.inputMidHeight {
  padding-top: 21%;
}
.bg-black {
  background-color: black !important;
}

a.bg-black:hover,
a.bg-black:focus,
button.bg-black:hover,
button.bg-black:focus {
  background-color: black !important;
}
